@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LibraryOnlyLayout.cshtml";
}
TODO: Deixar mais bonito ( Colocar um funto e deixar os botões alinhado em baixo)
<br />
<br />
<div class="cad-buttons-container">
    <button class="psd-button-beauty" onclick="javascript:window.location = '/Usuario/Create'">Criar Conta</button>
    <br/>
    <br/>
    <button class="psd-button-beauty" onclick="javascript:window.location = '/Login'">Fazer Login</button>
</div>

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />