@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LibraryOnlyLayout.cshtml";
}
<img />

<div class="cad-buttons-container">
    <button class="psd-button-beauty" onclick="javascript:window.location = '/Usuario/Create'">Criar Conta</button>
    <br/>
    <br/>
    <button class="psd-button-beauty" onclick="javascript:window.location = '/Login'">Fazer Login</button>
</div>

<div class="container">

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

</div>


<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />