@{
    ViewData["Title"] = "Home Page";
}

<!--Testes Temporários-->

<table class="psd-table col-md-12">
    <thead>
            <tr>
                <th>
                    Ações
                </th>
                <th>
                    Código
                </th>
                <th>
                    Mensagem ( Resumo )
                </th>
                <th>
                    Tipo de Log
                </th>
                <th>
                    Data de Geração
                </th>
            </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr><tr>
            <td>
                <a href="LogWeb/Details?id=log.Id" class="btn btn-outline-info psd-button psd-button-info">Ver Detalhes</a>
            </td>
            <td>
                log.Id
            </td>
            <td>
                log.Mensagem.Substring(0, 20)
            </td>
            <td>
                (((EnumTipoLog)log.TipoOperacao).ToString())
            </td>
            <td>
                log.DataGeracao
            </td>
        </tr>   
    </tbody>
</table>