@model LogWebViewModel

@{
    var operacao = ViewBag.Operacao as string;
}

<form asp-action="Save">
    <input name="Operacao" value="@operacao" hidden/>

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <label for="Id" class="control-label">Id</label>

                @if (ViewBag.Operacao == "A")
                {
                    <input class="form-control disabled" type="number" asp-for="Id" readonly />
                }
                else
                {
                    <input class="form-control" type="number" asp-for="Id" />
                }

                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <label for="DataGeracao" class="control-label">Data de Geração</label>
                <input class="form-control disabled" type="datetime" asp-for="DataGeracao" asp-format="{0:dd/MM/yyyy - HH:mm:ss}" readonly />
                <span asp-validation-for="DataGeracao" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <label for="TipoOperacao" class="control-label">Tipo de Log:</label>
                <select asp-items="@Html.GetEnumSelectList(typeof(EnumTipoLog))" asp-for="TipoOperacao" class="form-select disabled" readonly></select>
                <span asp-validation-for="TipoOperacao" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <button onclick="javascript:ReturnPage()" type="button" class="btn psd-button psd-button-danger">Sair</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-2">
            <div class="row">
                <label for="Callstack" class="control-label">Callstack</label>
                <textarea class="form-control disabled" asp-for="Callstack" readonly style="height: 8rem"></textarea>
            </div>
            <br />
            <div class="row">
                <label for="Detalhes" class="control-label">Detalhes</label>
                <textarea class="form-control disabled" asp-for="Detalhes" readonly style="height: 8rem"></textarea>
            </div>
        </div>
    </div>
</form>