@model UsuarioViewModel

@{
    var operacao = ViewBag.Operacao as string;
}

<form asp-action="Save" enctype="multipart/form-data">
    <input name="Operacao" value="@operacao" hidden />

    @if (operacao == "A")
    {
        <input asp-for="Id" hidden />
    }

    <div class="row">
        <div class="col-5">
            @if (operacao == "I")
            {
                <div class="row">
                    <label for="UsuarioDesencriptografado" class="control-label">Usuario:</label>
                    <input class="form-control" asp-for="UsuarioDesencriptografado" />
                    <span asp-validation-for="UsuarioDesencriptografado" class="text-danger"></span>
                </div>
                <br />
            }
            else
            {
                <input asp-for="UsuarioLogin" hidden />
            }

            @if (operacao == "I")
            {
                <div class="row">
                    <label for="SenhaDesencriptografada" class="control-label">Senha:</label>
                    <input type="password" class="form-control" asp-for="SenhaDesencriptografada" />
                    <span asp-validation-for="SenhaDesencriptografada" class="text-danger"></span>
                </div>
                <br />
            }
            else
            {
                <input asp-for="Senha" hidden />
            }
            <div class="row">
                <label for="TipoUsuario" class="control-label">Tipo de Usuário:</label>
                <select asp-items="@Html.GetEnumSelectList(typeof(EnumTipoUsuario))" asp-for="TipoUsuario" class="form-select"></select>
                <span asp-validation-for="TipoUsuario" class="text-danger"></span>
            </div>
            <br />
        </div>
        <div class="col-5 offset-2">
            <div class="row">
                <label for="Nome" class="control-label">Nome:</label>
                <input class="form-control" asp-for="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <input type="file" value="@Model.ImagemFile" asp-for="ImagemFile" onchange="showImagePreview()" class="btn btn-secondary" />
                <input asp-for="ImagemEmBase64" hidden />
                <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive" width="100" />
                <span asp-validation-for="ImagemFile" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-5">
                <button type="submit" class="btn psd-button psd-button-success">Salvar</button>
            </div>
            <div class="col-5">
                <button type="submit" class="btn psd-button psd-button-danger">Sair</button>
            </div>
        </div>
    </div>
</form>

<script src="~/js/createUsuario.js"></script>