@{
    var dadosUsuario = ViewBag.Usuario;
    var usuarioLogado = dadosUsuario != null;
    UsuarioViewModel dadosUsuarioLogado = ViewBag.Usuario as UsuarioViewModel;

    Layout = "~/Views/Shared/_LibraryOnlyLayout.cshtml";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand col-3" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="logo.png" />
                <span>Project Poseidon</span>
            </a>
            <div class="psd-shift">
                <ul class="navbar-nav flex-grow-1 col-md-">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Dispositivo" asp-action="Index">Dispositivos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Medicao" asp-action="Index">Medições</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Bairro" asp-action="Index">Bairros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LogWeb" asp-action="Index">Logs do Aplicativo</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                @if (usuarioLogado)
                {
                    @if (dadosUsuarioLogado.Imagem == null ||
                   dadosUsuarioLogado.Imagem.Length == 0)
                    {
                        <img class="img-responsive rounded-image icon" src="~/img/default-user-image.png" />
                    }
                    else
                    {
                        <img src="data:image/jpeg;base64,@dadosUsuarioLogado.ImagemEmBase64" class="rounded-image icon" />
                    }
                    <span>Olá, @dadosUsuarioLogado.Nome! <a href="/Login/Logoff">Fazer Logoff</a></span>
                    
                }
                else
                {
                    <a class="psd-button-login" href="/Login">Fazer LogIn</a>
                }
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
    </div>
</footer>
