@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <img style="height:128px; width:auto;margin-left:45%;padding:0;" src="~/img/299045_sign_error_icon.png" />
    <br /> <br /> <br />
    <br /> <br /> <br />
           <div class="wrapper">
               <p class="glitch">Erro Interno</p>
           </div>
    <br />
    <br />
    <h3 style="text-align:center">As coisas estão um pouco instáveis por aqui. Recomendamos voltar mais tarde.</h3>
</div>