
<h1 class="police-tape police-tape--1">
    &nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não Autorizado
</h1>
<h1 class="police-tape police-tape--2">Entrada Proibida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entrada Proibida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entrada Proibida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entrada Proibida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entrada Proibida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entrada Proibida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

