.psd-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    vertical-align: middle;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

    .psd-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        text-align: center;
        vertical-align: middle;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .psd-table th,
    .psd-table td {
        padding: 12px 15px;
    }

    .psd-table tbody tr {
        border-bottom: 1px solid #dddddd;
        transition: 0.2s linear;
    }

        .psd-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .psd-table tbody tr:hover {
            color: #009879;
            background-color: rgba(0,0,0,0.04);
            transition: 0.2s linear;
        }

.psd-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    height: 12px
}

    .psd-button:disabled {
        pointer-events: none;
    }

    .psd-button:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .psd-button:active {
        box-shadow: none;
        transform: translateY(0);
    }

.psd-button-info:hover {
    border-color: #0dcaf0;
    color: #0dcaf0;
}

.psd-button-success:hover {
    border-color: #34eb58;
    color: #34eb58;
}

.psd-button-danger:hover {
    border-color: #eb0023;
    color: #eb0023;
}

.nav-link {
    border-radius: 8px;
    text-align: center;
    vertical-align: central;
    padding: 8px 24px 8px 24px;
    transition: 0.2s linear;
}

    .nav-link:hover {
        color: #FFFFFF;
        transform: scale(1.05) perspective(1px);
        transition: 0.2s linear;
    }

.navbar-collapse > .navbar-nav > .nav-item:first-child > .nav-link {
    border-left: 0;
}

.rounded-image {
    border-radius: 50%;
}

.icon {
    height: 32px;
    width: 32px
}

.psd-button-beauty {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .psd-button-beauty:before {
        content: "";
        background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-psd-button-beauty 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

@keyframes glowing-psd-button-beauty {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.psd-button-beauty:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.psd-button.col-1 {
    width: 8.3333334%;
}

.psd-button.col-2 {
    width: 16.6666668%;
}

.psd-button.col-3 {
    width: 25%;
}

.psd-button.col-4 {
    width: 33.3333336%;
}

.psd-button.col-5 {
    width: 41.66666667%;
}

.psd-button.col-6 {
    width: 50%;
}

.psd-button.col-7 {
    width: 58.3333338%;
}

.psd-button.col-8 {
    width: 66.666667%;
}

.psd-button.col-9 {
    width: 75%;
}

.psd-button.col-10 {
    width: 83.333334%;
}

.psd-button.col-11 {
    width: 91.666667%;
}

.psd-button.col-12 {
    width: 100%;
}

.psd-button-login {
    align-items: center;
    background-image: linear-gradient(144deg,#009879, #02edbd 50%,#009879 );
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 0.5em;
    max-width: fit-content;
    min-width: 40px;
    padding: 15px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

    .psd-button-login:active,
    .psd-button-login:hover {
        outline: 0;
        color: #FFFFFF;
        font-weight: bold;
        transform: scale(1.05);
        transition: all 0.3s;
    }

@media (min-width: 768px) {
    .psd-button-login {
        font-size: 20px;
    }
}

div.psd-shift {
    padding-right: 5%
}

.psd-shift ul li a {
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}

    .psd-shift ul li a:hover {
        color: #FFFFFF;
    }

    .psd-shift ul li a:after {
        border-radius: 8px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '';
        color: #FFFFFF;
        background: #009879;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s;
    }

    .psd-shift ul li a:hover:after {
        opacity: 1;
        visibility: visible;
        height: 94%;
    }

.psd-grafico {
    height: 380px;
    width: 45%;
    border: 2px groove #111111;
    border-radius: 6px;
    padding: 0;
    box-shadow: -6px 9px 16px -5px rgba(0,0,0,0.5);
}

.search-bar {
    padding: 15px 0 15px 0;
    background-color: #009879;
    border-radius: 15px
}

.nav-link.text-dark.link-text:hover {
    color: white !important;
}

.main-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 16px;
    background-color: white;
    padding: 40px 40px 40px 40px
}
.psd-button-logoff {
    background-image: linear-gradient(144deg,#009879, #02edbd 50%,#009879 );
    padding: 5px 15px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: white;
    transition: all 0.3s;
}

    .psd-button-logoff:active,
    .psd-button-logoff:hover {
        outline: 0;
        color: #FFFFFF;
        font-weight: bold;
        transition: all 0.3s;
    }

.psd-button--pandora {
    background: #41cce8;
    font-weight: 500;
    border: 0;
    margin: 0;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

    .psd-button--pandora:hover {
        transform: translate3d(4px, -4px, 0);
        -webkit-transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        box-shadow: -8px 8px 7px 0px rgba(17,17,17,0.4);
    }